@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?931e2f98ae0370166ae229833f24a886") format("truetype"),
url("./flaticon.woff?931e2f98ae0370166ae229833f24a886") format("woff"),
url("./flaticon.woff2?931e2f98ae0370166ae229833f24a886") format("woff2"),
url("./flaticon.eot?931e2f98ae0370166ae229833f24a886#iefix") format("embedded-opentype"),
url("./flaticon.svg?931e2f98ae0370166ae229833f24a886#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-bed:before {
    content: "\f101";
}
.flaticon-tag:before {
    content: "\f102";
}
.flaticon-building:before {
    content: "\f103";
}
.flaticon-down-arrow:before {
    content: "\f104";
}
.flaticon-villa:before {
    content: "\f105";
}
.flaticon-tennis:before {
    content: "\f106";
}
.flaticon-sport:before {
    content: "\f107";
}
.flaticon-golf:before {
    content: "\f108";
}
.flaticon-university:before {
    content: "\f109";
}
.flaticon-gym:before {
    content: "\f10a";
}
